.formContainer{
    background-color: rgb(137, 95, 142);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .formWrapper{
        background-color: antiquewhite;
        border-radius: 10px;
        padding: 20px 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        .logo{
            font-family:cursive;
            font-size: 20px;
        }
        form{
            display: flex;
            flex-direction: column;
            gap: 20px;
            input{
                height: 30px;
                border: none;
                padding: 10px;
                width: 250px;
                border-radius: 8px;
                cursor: pointer;
                color: rgb(141, 116, 84);
                background-color: rgb(255, 254, 244);
                &::placeholder{
                    color:rgb(149, 147, 138);
                }
            }
            button{
                border: none;
                outline: none;
                cursor: pointer;
                height: 35px;

                border-radius: 18px;
                color: aliceblue;
                background-color: tan;   
            }
            button:hover{
                transform: scale(1.1);
                background-color:rgb(152, 125, 90) ;
            }
            label{
                display: flex;
                align-items: center;
                font-size: 13px;
                gap: 10px;
                cursor: pointer;
                color:rgb(186, 157, 126) ;
                img{
                    width: 35px;
                }
            }
        }
        p{
            margin-top: 16px;
            text-align:center;
            font-size: 13px;
            color: rgb(113, 95, 71);
        }
    }
}


